Recuperando senha

Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}). Você não foi o autor dessa requisição? Então recomendamos que troque sua senha.

Para continuar com a recuperação de senha utilize o token {{ token }} ou acesse o link: {{ link }}
